/*Fonts family*/
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*Colors*/
/*Basic setting*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  background: #fcb303;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/*Typografy*/
section {
  padding: 10rem 0;
}
/*Main*/
.main {
  padding: 3rem 5rem;
  background: #ffffff url(../img/main-bg.jpg);
  background-size: cover;
  /*подзаголовок*/
  /*ярлычок*/
  /*подписи*/
  /*главная форма*/
}
.main-content {
  margin-top: 12rem;
  /*главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 1.5;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 2rem 4rem;
  background: #ff0000;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  /*500*/
}
.main span strong {
  font-size: 3rem;
}
.main-inform {
  font-size: 2.2rem;
  text-transform: uppercase;
  display: block;
  margin-top: 3rem;
}
.main-inform-small {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  /*заголовок формы*/
  /*поле для ввода*/
  /*подписи к полям*/
  /*кнопка заявки*/
  /*подпись под кнопкой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 2rem;
}
.main-form-input {
  margin: 2rem 0;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1rem;
}
.header {
  height: 7rem;
}
.header-btn {
  width: 100%;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
.phone-block {
  text-align: right;
}
.phone-link {
  text-decoration: none;
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #000000;
}
.phone-link:hover {
  text-decoration: none;
}
